@using IMDB.Domain.CardViewModel
@using Infrastructure
@using static System.Net.Mime.MediaTypeNames;
@using static IMDB.Domain.DTOs.ApiDTO;
@using static IMDB.Domain.DTOs.MovieDTO;
@using IMDB.Services.Api;
@inject IMovie movieRepo
@model HomeViewModel
<section class="hero-area" id="home">
    <div class="container">
        <div class="hero-area-slider">


            @foreach (var movie in @Model.PopularMovies.results.Take(3))
            {
                <div class="row hero-area-slide">
                    <div class="col-lg-6 col-md-5">
                        <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@movie.Id">

                            <div class="hero-area-content">

                                <img id="imgeRad" src="http://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="about" />
                            </div>
                        </a>

                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="hero-area-content pr-50">
                            <h2>@movie.Title</h2>
                            <div class="review">
                                <div class="author-review">
                                    @for (int i = 0; i < ((movie.VoteAverage % 2 == 0) ? (movie.VoteAverage / 2) : (movie.VoteAverage / 2) + 1); i++)
                                    {
                                        <i class="icofont icofont-star"></i>
                                    }
                                </div>
                                <h4>@movie.VoteAverage Score</h4>
                            </div>
                            <p>@movie.Overview</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <div onclick="GetId(@movie.Id)" id="div">
                                    <a id="@movie.Id" class="popup-youtube theme-btn theme-btn2">
                                        Trailer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="hero-area-thumb">
            <div class="thumb-prev">
                <div class="row hero-area-slide">

                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@Model.PopularMovies.results[1].Id">

                                <img id="imgeRad" src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results[1].PosterPath" alt="about" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>@Model.PopularMovies.results[1].Title</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>@Model.PopularMovies.results[1].Overview</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast2.html" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Trailer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-next">
                <div class="row hero-area-slide">

                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@Model.PopularMovies.results[1].Id">

                                <img id="imgeRad" src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results[1].PosterPath" alt="about" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>The Deer God</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know how to be evil or any of the common actions,   She is unable to cry due to Keita's accidental first wish, despite needed for him to wish...</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast2.html" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--show movies section-->
<!--0-->

<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title">
                    <h1><i class="icofont icofont-movie"></i>The Most Famous </h1>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        @*<li data-filter="*" class="active">Latest</li>*@
                        <li data-filter=".soon" class="active" id="cli">Popular</li>
                        <li data-filter=".released">Trending Movies Of Week</li>
                        <li data-filter=".to">Top Rated</li>
                        <li data-filter=".TrendingDay">Trending Movies Of Day</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div  class="row portfolio-item">
                    @foreach (var item in Model.PopularMovies.results.Skip(3).Take(16))
                    {
                        <div id="f1" class="col-lg-3 col-md-4 col-sm-6 soon popular born">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">

                                        <img id="radiusImg" src="http://image.tmdb.org/t/p/w185/@item.PosterPath" alt="portfolio" />

                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h2 id="senoh">@item.Title</h2>
                                        <div class="review">
                                            <div class="author-review">
                                                @for (int i = 0; i < ((item.VoteAverage == 10) ? (item.VoteAverage / 2) : (item.VoteAverage / 2) + 1); i++)
                                                {
                                                    <i class="icofont icofont-star"></i>
                                                }

                                            </div>
                                            <h5>@item.VoteCount voters</h5>
                                            <i id="ic" class='fas fa-bookmark' style='font-size:20px'></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                    @foreach (var item in Model.TopRatedMovies.results.Take(20))
                    {
                        <div id="f2" class="col-lg-3 col-md-4 col-sm-6 to">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">

                                        <img id="radiusImg" src="http://image.tmdb.org/t/p/w185/@item.PosterPath" alt="portfolio" style="border-radius: 15px;" />
                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h2 id="senoh">@item.Title</h2>
                                        <div class="review">
                                            <div class="author-review">
                                                @for (int i = 0; i < ((item.VoteAverage == 10) ? (item.VoteAverage / 2) : (item.VoteAverage / 2) + 1); i++)
                                                {
                                                    <i class="icofont icofont-star"></i>
                                                }

                                            </div>
                                            <h5>@item.VoteCount voters</h5>
                                            <i id="ic" class='fas fa-bookmark' style='font-size:20px'></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    @foreach (var item in Model.TrendingMoviesOfWeek.results.Take(20))
                    {
                        <div id="f3" class="col-lg-3 col-md-4 col-sm-6 released" style="display:none">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">
                                        <img id="radiusImg" src="http://image.tmdb.org/t/p/w185/@item.PosterPath" alt="portfolio" style="border-radius: 15px;" />
                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h2 id="senoh">@item.Title</h2>
                                        <div class="review">
                                            <div class="author-review">
                                                @for (int i = 0; i < ((item.VoteAverage == 10) ? (item.VoteAverage / 2) : (item.VoteAverage / 2) + 1); i++)
                                                {
                                                    <i class="icofont icofont-star"></i>
                                                }

                                            </div>
                                            <h5>@item.VoteCount voters</h5>
                                            <i id="ic" class='fas fa-bookmark' style='font-size:20px'></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                    @foreach (var item in Model.TrendingMoviesOfDay.results.Take(20))
                    {
                        <div id="f4" class="col-lg-3 col-md-4 col-sm-6 TrendingDay" style="display:none">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">
                                        <img id="radiusImg" src="http://image.tmdb.org/t/p/w185/@item.PosterPath" alt="portfolio" style="border-radius: 30px;" />
                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h2 id="senoh">@item.Title</h2>
                                        <div class="review">
                                            <div class="author-review">
                                                @for (int i = 0; i < ((item.VoteAverage == 10) ? (item.VoteAverage / 2) : (item.VoteAverage / 2) + 1); i++)
                                                {
                                                    <i class="icofont icofont-star"></i>
                                                }

                                            </div>
                                            <h5>@item.VoteCount voters</h5>
                                            <i id="ic" class='fas fa-bookmark' style='font-size:20px'></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section><!-- movie section end -->
<!-- video section start -->
<!--4-->
<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title" id="4444">
                    <h1><i class="icofont icofont-movie"></i> Casts </h1>
                </div>
            </div>
            <div class="portfolio-menu">
                <ul>
                    <li data-filter=".popular" class="active">Popular</li>
                    @*<li data-filter=".born">Born today</li>*@
                </ul>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="row portfolio-item">
                    @foreach (var cast in Model.PopularPeople.results.Take(8).OrderByDescending(n => n.Popularity))
                    {

                        <div class="col-lg-3 col-md-4 col-sm-6 popular soon TrendingDay released to">
                            <a asp-controller="PersonDetails" asp-action="Index" asp-route-id="@cast.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img" id="oadAction">
                                        <img id="radiusprofile" src="http://image.tmdb.org/t/p/w185/@cast.ProfilePath" alt="dont have profile" style="border-radius: 210px;" />
                                    </div>
                                    <div class="portfolio-content">
                                        <h2 id="senoh">@cast.Name</h2>
                                        <div class="review">
                                            <h4>@cast.Popularity Popularity</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section><!-- portfolio section end -->
<section class="video ptb-90">
    <div class="container">
        <div class="row">

            <div class="section-title pb-20">
                <h1><i class="icofont icofont-film"></i> Latest Trailers & Videos</h1>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div class="video-area">

                    <div onclick="GetId(@Model.TopRatedMovies.results.LastOrDefault().Id)" id="div">
                        <img src="http://image.tmdb.org/t/p/w500/@Model.TopRatedMovies.results.LastOrDefault().PosterPath" alt="video" style="margin-left: 20%;" />
                        <a id="@Model.TopRatedMovies.results.LastOrDefault().Id" class="popup-youtube">
                            <i class="icofont icofont-ui-play"></i>
                        </a>
                    </div>
                    <div class="video-text">
                        <h2>@Model.TopRatedMovies.results.LastOrDefault().Title</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>@Model.TopRatedMovies.results.LastOrDefault().VoteAverage</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">


                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">

                            <div onclick="GetId(@Model.TrendingMoviesOfWeek.results.LastOrDefault().Id)" id="div">
                                <img src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results.ToArray()[4].PosterPath" alt="video" style="margin-bottom: -24px;" />
                                <a id="@Model.TrendingMoviesOfWeek.results.LastOrDefault().Id" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area" style="border-top: -38px;padding-top: -75px;margin-top: 5px;">

                            <div onclick="GetId(@Model.TrendingMoviesOfDay.results.LastOrDefault().Id)" id="div">
                                <img src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results.ToArray()[5].PosterPath" alt="video" />
                                <a id="@Model.TrendingMoviesOfDay.results.LastOrDefault().Id" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- video section end -->
<!-- news section start -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-coffee-cup"></i> Latest News</h1>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="news-slide-area">
        <div class="news-slider">
            <div class="single-news">
                <div class="news-bg-1"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
            <div class="single-news">
                <div class="news-bg-2"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
            <div class="single-news">
                <div class="news-bg-3"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="news-thumb">
            <div class="news-next">
                <div class="single-news">
                    <div class="news-bg-3"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="news-prev">
                <div class="single-news">
                    <div class="news-bg-2"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- news section end -->
<script>

    document.getElementById('cli').click;

</script>