@using IMDB.Domain.CardViewModel
@using Infrastructure
@using static System.Net.Mime.MediaTypeNames;
@using static IMDB.Domain.DTOs.ApiDTO;
@using static IMDB.Domain.DTOs.MovieDTO;
@using IMDB.Services.Api;
@inject IMovie movieRepo
@model HomeViewModel
<section class="hero-area" id="home">
    <div class="container">
        <div class="hero-area-slider">


            @foreach (var movie in @Model.PopularMovies.results.Take(3))
            {
                <div class="row hero-area-slide">
                    <div class="col-lg-6 col-md-5">
                        <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@movie.Id">

                            <div class="hero-area-content">

                                <img id="imgeRad" src="http://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="about" />
                            </div>
                        </a>

                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="hero-area-content pr-50">
                            <h2>@movie.Title</h2>
                            <div class="review">
                                <div class="author-review">
                                    @for (int i = 0; i < ((movie.VoteAverage % 2 == 0) ? (movie.VoteAverage / 2) : (movie.VoteAverage / 2) + 1); i++)
                                    {
                                        <i class="icofont icofont-star"></i>
                                    }
                                </div>
                                <h4>@movie.VoteAverage Score</h4>
                            </div>
                            <p>@movie.Overview</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <div onclick="GetId(@movie.Id)" id="div">
                                    <a id="@movie.Id" class="popup-youtube theme-btn theme-btn2">
                                        Trailer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="hero-area-thumb">
            <div class="thumb-prev">
                <div class="row hero-area-slide">

                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@Model.PopularMovies.results[1].Id">

                                <img id="imgeRad" src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results[1].PosterPath" alt="about" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>@Model.PopularMovies.results[1].Title</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>@Model.PopularMovies.results[1].Overview</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast2.html" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Trailer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-next">
                <div class="row hero-area-slide">

                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@Model.PopularMovies.results[1].Id">

                                <img id="imgeRad" src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results[1].PosterPath" alt="about" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>The Deer God</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know how to be evil or any of the common actions,   She is unable to cry due to Keita's accidental first wish, despite needed for him to wish...</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast2.html" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="/assets/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--show movies section-->
<!--0-->
<section id="forNonn" style="display: none ; position: fixed;left: 46%;top: 38%;z-index: 1000;">
    <div onclick="claoo()" style="width: 100%; height: 100%; position: absolute;top: 0;left: 0;z-index: 99;"></div>
    <div>
        <form asp-controller="ApiController" asp-action="AddMovieToList" style="
    position: fixed;
    left: 48%;
    top: 48%;
    z-index: 1000;
">
            <div class="row" style="z-index: 1000;max-height: 1px;max-height: 1px;">

                @if (User.Identity.IsAuthenticated)
                {
                    
                    <div id="qwe" class="col-lg-12" style="margin-top: 16px;max-width: 100%;margin-left: 33%;">
                        <br />
                    </div>

                }
            </div>

        </form>
    </div>

</section>
<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title">
                    <h1><i class="icofont icofont-movie"></i>The Most Famous </h1>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        @*<li data-filter="*" class="active">Latest</li>*@
                        <li data-filter=".soon" class="active" id="cli">Popular</li>
                        <li data-filter=".released">Trending Movies Of Week</li>
                        <li data-filter=".to">Top Rated</li>
                        <li data-filter=".TrendingDay">Trending Movies Of Day</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="row portfolio-item">
                    @foreach (var item in Model.PopularMovies.results.OrderByDescending(n => n.VoteAverage).Take(20))
                    {
                        <div  id="f1" class="col-lg-3 col-md-4 col-sm-6 soon popular born" >
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">

                                        <img id="radiusImg" src="@((string.IsNullOrEmpty(@item.PosterPath)) ? "/img/DefultMovie.jpg" : "http://image.tmdb.org/t/p/w185/" + @item.PosterPath)" alt="portfolio" />

                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h3 id="senoh">@item.Title</h3>
                                        <div class="review">
                                            <h3>
                                                <div class="author-review">
                                                    @item.VoteAverage
                                                </div>
                                            </h3>
                                            <h5 style=" display: contents;"> @item.VoteCount voters </h5>
                                            <svg id="sv+@item.Id" onclick="cll(@item.Id)" onmouseover="hov(@item.Id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16"><path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" /></svg>
                                            <svg id="sq+@item.Id" onclick="cll(@item.Id)" onmouseout="dow(@item.Id)" style="display:none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16"><path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" /></svg>
                                        </div>
                                        <div style="margin-top: 5px;margin-left: 29%;">
                                            <div>

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onmouseover="fillStar(@item.Id ,1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id , 3)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>

                                            </div>
                                            @*------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                                            <div style="margin-top: -24px;">

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id , 1)" id="ff1+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" id="ff2+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" id="ff3+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" id="ff4+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" id="ff5+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                    @foreach (var item in Model.TopRatedMovies.results.Take(20))
                    {
                        <div style="margin-top: 20px" id="f2" class="col-lg-3 col-md-4 col-sm-6 to">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">

                                        <img id="radiusImg" src="@((string.IsNullOrEmpty(@item.PosterPath)) ? "/img/DefultMovie.jpg" : "http://image.tmdb.org/t/p/w185/" + @item.PosterPath)" alt="portfolio" />
                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h3 id="senoh">@item.Title</h3>
                                        <div class="review">

                                            <h3>
                                                <div class="author-review">
                                                    @item.VoteAverage
                                                </div>
                                            </h3>


                                            <h5 style=" display: contents;">@item.VoteCount voters  </h5>
                                            <svg id="sv+@item.Id" onclick="cll(@item.Id)" onmouseover="hov(@item.Id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16"><path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" /></svg>
                                            <svg id="sq+@item.Id" onclick="cll(@item.Id)" onmouseout="dow(@item.Id)" style="display:none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16"><path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" /></svg>

                                        </div>
                                        <div style="margin-top: 5px;margin-left: 29%;">
                                            <div>

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onmouseover="fillStar(@item.Id ,1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id , 3)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>

                                            </div>
                                            @*------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                                            <div style="margin-top: -24px;">

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id , 1)" id="ff1+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" id="ff2+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" id="ff3+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" id="ff4+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" id="ff5+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    @foreach (var item in Model.TrendingMoviesOfWeek.results.Take(20))
                    {
                        <div style="margin-top: 20px" id="f3" class="col-lg-3 col-md-4 col-sm-6 released" style="display:none">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">
                                        <img id="radiusImg" src="@((string.IsNullOrEmpty(@item.PosterPath)) ? "/img/DefultMovie.jpg" : "http://image.tmdb.org/t/p/w185/" + @item.PosterPath)" alt="portfolio" />
                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h3 id="senoh">@item.Title</h3>
                                        <div class="review">
                                            <h3>
                                                <div class="author-review">
                                                    @item.VoteAverage
                                                </div>
                                            </h3>
                                            <h5 style=" display: contents;">@item.VoteCount voters  </h5>
                                            <svg id="sv+@item.Id" onclick="cll(@item.Id)" onmouseover="hov(@item.Id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16"><path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" /></svg>
                                            <svg id="sq+@item.Id" onclick="cll(@item.Id)" onmouseout="dow(@item.Id)" style="display:none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16"><path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" /></svg>

                                        </div>
                                        <div style="margin-top: 5px;margin-left: 29%;">
                                            <div>

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onmouseover="fillStar(@item.Id ,1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id , 3)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>

                                            </div>
                                            @*------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                                            <div style="margin-top: -24px;">

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id , 1)" id="ff1+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" id="ff2+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" id="ff3+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" id="ff4+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" id="ff5+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                    @foreach (var item in Model.TrendingMoviesOfDay.results.Take(20))
                    {
                        <div style="margin-top: 20px" id="f4" class="col-lg-3 col-md-4 col-sm-6 TrendingDay" style="display:none">
                            <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img">
                                        <img id="radiusImg" src="@((string.IsNullOrEmpty(@item.PosterPath)) ? "/img/DefultMovie.jpg" : "http://image.tmdb.org/t/p/w185/" + @item.PosterPath)" alt="portfolio" style="border-radius: 30px;" />
                                        <div onclick="GetId(@item.Id)" id="div">
                                            <a id="@item.Id" class="popup-youtube">
                                                <i class="icofont icofont-ui-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portfolio-content">
                                        <h3 id="senoh">@item.Title</h3>
                                        <div class="review">
                                            <h3>
                                                <div class="author-review">
                                                    @item.VoteAverage
                                                </div>
                                            </h3>
                                            <h5 style=" display: contents;">@item.VoteCount voters  </h5>
                                            <svg id="sv+@item.Id" onclick="cll(@item.Id)" onmouseover="hov(@item.Id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16"><path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" /></svg>
                                            <svg id="sq+@item.Id" onclick="cll(@item.Id)" onmouseout="dow(@item.Id)" style="display:none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16"><path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" /></svg>
                                        </div>
                                        <div style="margin-top: 5px;margin-left: 29%;">
                                            <div>

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onmouseover="fillStar(@item.Id ,1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id , 3)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                    </svg>
                                                </a>

                                            </div>
                                            @*------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                                            <div style="margin-top: -24px;">

                                                <a onclick="clq(@item.Id, 1)">
                                                    <svg onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id , 1)" id="ff1+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 1)" onmouseover="fillStar(@item.Id ,1)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 2)">
                                                    <svg onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" id="ff2+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 2)" onmouseover="fillStar(@item.Id ,2)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 3)">
                                                    <svg onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" id="ff3+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 3)" onmouseover="fillStar(@item.Id ,3)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 4)">
                                                    <svg onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" id="ff4+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 4)" onmouseover="fillStar(@item.Id ,4)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>
                                                <a onclick="clq(@item.Id, 5)">
                                                    <svg onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" id="ff5+@item.Id" style="display :none ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path onclick="clq(@item.Id, 5)" onmouseover="fillStar(@item.Id ,5)" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section><!-- movie section end -->
<!-- video section start -->
<!--4-->
<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title" id="4444">
                    <h1><i class="icofont icofont-movie"></i> Casts </h1>
                </div>
            </div>
            <div class="portfolio-menu">
                <ul>
                    <li data-filter=".popular" class="active">Popular</li>
                    @*<li data-filter=".born">Born today</li>*@
                </ul>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="row portfolio-item">
                    @foreach (var cast in Model.PopularPeople.results.Take(8).OrderByDescending(n => n.Popularity))
                    {

                        <div class="col-lg-3 col-md-4 col-sm-6 popular soon TrendingDay released to">
                            <a asp-controller="PersonDetails" asp-action="Index" asp-route-id="@cast.Id">
                                <div class="single-portfolio">
                                    <div class="single-portfolio-img" id="oadAction">
                                        <img id="radiusprofile" src="@((string.IsNullOrEmpty(cast.ProfilePath))?"/img/cast/defult.png":"http://image.tmdb.org/t/p/w185/"+@cast.ProfilePath)" alt="dont have profile" style="border-radius: 10%;" />
                                    </div>
                                    <div class="portfolio-content">
                                        <h2 id="senoh">@cast.Name</h2>
                                        <div class="review">
                                            <h4>@cast.Popularity Popularity</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section><!-- portfolio section end -->
<section class="video ptb-90">
    <div class="container">
        <div class="row">

            <div class="section-title pb-20">
                <h1><i class="icofont icofont-film"></i> Latest Trailers & Videos</h1>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div class="video-area">

                    <div onclick="GetId(@Model.TopRatedMovies.results.LastOrDefault().Id)" id="div">
                        <img src="http://image.tmdb.org/t/p/w500/@Model.TopRatedMovies.results.LastOrDefault().PosterPath" alt="video" style="margin-left: 20%;" />
                        <a id="@Model.TopRatedMovies.results.LastOrDefault().Id" class="popup-youtube">
                            <i class="icofont icofont-ui-play"></i>
                        </a>
                    </div>
                    <div class="video-text">
                        <h2>@Model.TopRatedMovies.results.LastOrDefault().Title</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>@Model.TopRatedMovies.results.LastOrDefault().VoteAverage</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">


                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">

                            <div onclick="GetId(@Model.TrendingMoviesOfWeek.results.LastOrDefault().Id)" id="div">
                                <img src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results.ToArray()[4].PosterPath" alt="video" style="margin-bottom: -24px;" />
                                <a id="@Model.TrendingMoviesOfWeek.results.LastOrDefault().Id" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area" style="border-top: -38px;padding-top: -75px;margin-top: 5px;">

                            <div onclick="GetId(@Model.TrendingMoviesOfDay.results.LastOrDefault().Id)" id="div">
                                <img src="http://image.tmdb.org/t/p/w500/@Model.PopularMovies.results.ToArray()[5].PosterPath" alt="video" />
                                <a id="@Model.TrendingMoviesOfDay.results.LastOrDefault().Id" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- video section end -->
<!-- news section start -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-coffee-cup"></i> Latest News</h1>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="news-slide-area">
        <div class="news-slider">
            <div class="single-news">
                <div class="news-bg-1"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
            <div class="single-news">
                <div class="news-bg-2"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
            <div class="single-news">
                <div class="news-bg-3"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="news-thumb">
            <div class="news-next">
                <div class="single-news">
                    <div class="news-bg-3"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="news-prev">
                <div class="single-news">
                    <div class="news-bg-2"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>


</section><!-- news section end -->
<script>

    document.getElementById('cli').click;
    function hov(intt) {
        const w = "sv+" + intt
        const ww = "sq+" + intt
        console.log(w);
        document.getElementById(w).setAttribute("style", "display : none")
        document.getElementById(ww).setAttribute("style", "display : initial")
    }
    function dow(intt) {
        const w = "sv+" + intt
        const ww = "sq+" + intt
        console.log(w);
        document.getElementById(ww).setAttribute("style", "display : none")
        document.getElementById(w).setAttribute("style", "display : initial")
    }

    function addToList(id, par) {
        console.log("aaaaaaaaaaa")
        $.ajax({
            type: "GET",
            url: '/api/Api/AddMovieToList?listId=' + id + '&movieId=' + par,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (response) {
                consol.log("true")
            },
        });
        document.getElementById("forNonn").setAttribute("style", "display: none ; position: fixed;left: 46%;top: 38%;z-index: 1000;")
    }

        function addToWatch(id) {
        $.ajax({
			console.log("aaaaaaaaaaa")
			$.ajax({
				type: "GET",
				url: '/api/Api/AddMovieToWatchList?movieId=' + Id,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (response) {
					consol.log("true")
				},
			});
        });
        document.getElementById("forNonn").setAttribute("style", "display: none ; position: fixed;left: 46%;top: 38%;z-index: 1000;")
    }

    function cll(parameter) {
        document.getElementById("forNonn").setAttribute('style', 'display : flex ;margin-left: 44%;');

        $('#qwe').empty();
        var res = "";
        var finalres = "";
        $.ajax({
            type: "GET",
            url: '/api/Api/GetLists',
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (response) {
                console.log(response)
                $('#qwe').empty();
                $.each(response, function () {
                    res += "<li'><p class'btn btn-outline-primary' onclick='addToList(" + this.id + "," + parameter + ")'>" + this.title + "</p></li><br/>";
                });
                finalres = "<ul>" + res + "</ul>";
                $('#qwe').append(finalres);
                $('#qwe').click();
            },
        });
    }

    function clq(id, parametr) {
        console.log(parametr)
        if (parametr == 1) {
            $.ajax({
                type: "GET",
                url: '/api/Api/RateMovie?movieId=' + id + '&rate=' + 0,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('/api/Api/RateMovie?movieId=' + id + '&rate=' + 0)
                },
            });
        }
        if (parametr == 2) {
            $.ajax({
                type: "GET",
                url: '/api/Api/RateMovie?movieId=' + id + '&rate=' + 2,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('/api/Api/RateMovie?movieId=' + id + '&rate=' + 2)
                },
            });
        }
        if (parametr == 3) {
            $.ajax({
                type: "GET",
                url: '/api/Api/RateMovie?movieId=' + id + '&rate=' + 5,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('/api/Api/RateMovie?movieId=' + id + '&rate=' + 5)
                },
            });
        }
        if (parametr == 4) {
            $.ajax({
                type: "GET",
                url: '/api/Api/RateMovie?movieId=' + id + '&rate=' + 7,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('/api/Api/RateMovie?movieId=' + id + '&rate=' + 7)
                },
            });
        }
        if (parametr == 5) {
            $.ajax({
                type: "GET",
                url: '/api/Api/RateMovie?movieId=' + id + '&rate=' + 10,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('/api/Api/RateMovie?movieId=' + id + '&rate=' + 10)
                },
            });
        }
    }
    function fillStar(id, parametr) {
        console.log(id)
        console.log(parametr)
        if (parametr == 1) {
            document.getElementById("ff1+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff2+" + id).setAttribute("style", "display :none ;");
            document.getElementById("ff3+" + id).setAttribute("style", "display :none ;");
            document.getElementById("ff4+" + id).setAttribute("style", "display :none ;");
            document.getElementById("ff5+" + id).setAttribute("style", "display :none ;");
        }
        if (parametr == 2) {
            document.getElementById("ff1+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff2+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff3+" + id).setAttribute("style", "display :none ;");
            document.getElementById("ff4+" + id).setAttribute("style", "display :none ;");
            document.getElementById("ff5+" + id).setAttribute("style", "display :none ;");
        }
        if (parametr == 3) {
            document.getElementById("ff1+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff2+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff3+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff4+" + id).setAttribute("style", "display :none ;");
            document.getElementById("ff5+" + id).setAttribute("style", "display :none ;");
        }
        if (parametr == 4) {
            document.getElementById("ff1+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff2+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff3+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff4+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff5+" + id).setAttribute("style", "display :none ;rotate: 360deg;transition: 2s;");
        }
        if (parametr == 5) {
            document.getElementById("ff1+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff2+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff3+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff4+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
            document.getElementById("ff5+" + id).setAttribute("style", "color: #d7d716;rotate: 360deg;transition: 2s;");
        }

    }
</script>