@using IMDB.Domain.CardViewModel
@model SearchViewModel
@section Header{

	<style>
		.li {
			margin: 10px;
		}

		.col-lg-12 {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			background-color: #03092b78;
			border-radius: 15px;
			box-shadow: rgba(18, 11, 247, 0.4) 5px 5px, rgba(21, 6, 204, 0.3) 10px 10px, rgba(23, 7, 138, 0.2) 15px 15px, rgba(19, 2, 100, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
			padding-bottom: 20px;
		}

		hr {
			margin-bottom: 8px;
			border-top: 1px solid #ddd;
		}

		.portfolio-menu li.active::before, .portfolio-menu li:hover::before {
			background: #313deb;
		}
	</style>
}
	<!-- breadcrumb area start -->
	<section class="breadcrumb-area">
		<div class="container">
		</div>
	</section><!-- breadcrumb area end -->
	<section class="portfolio-area pt-60">
		<div class="container">
			<form asp-controller="SearchMovie" asp-action="Search">

				<input type="hidden" asp-for="Movies.Page" />
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
						<div class="section-title">
							<h1><i class="icofont icofont-movie"></i>Best Resualts For You</h1>
						</div>
					</div>
				@if (Model.Movies != null)
				{
					<div class="col-lg-6 text-center text-lg-right">
						<div class="portfolio-menu">
							<ul>
								<li>@Model.Movies.total_results Resualt Found </li>
							</ul>
						</div>
					</div>
				}

			</div>
			<hr />
			<div class="row">
				<div class="col-lg-12">
					<div class="row portfolio-item">
						@if (Model.Movies == null)
						{
							<h1>No Movie Found</h1>
						}
						else
							@foreach (var item in Model.Movies?.results)
							{
								<div id="f1" class="col-lg-4 col-md-4 col-sm-6 ">
									<a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
										<div class="single-portfolio">
											<div class="single-portfolio-img">

												<img id="radiusImg" src="@((string.IsNullOrEmpty(@item.PosterPath)) ? "/img/DefultMovie.jpg" : "http://image.tmdb.org/t/p/w185/" + @item.PosterPath)" alt="portfolio" />

												<div onclick="GetId(@item.Id)" id="div">
													<a id="@item.Id" class="popup-youtube">
														<i class="icofont icofont-ui-play"></i>
													</a>
												</div>
											</div>
											<div class="portfolio-content">
												<h2 id="senoh">@item.Title</h2>
												<div class="review">
													<div class="author-review">
														@for (int i = 1; i < item.VoteAverage / 2; i++)
														{
															<i class="icofont icofont-star"></i>
														}
													</div>
													<h5>@item.VoteCount voters</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				@if (Model.Movies != null && Model.Movies.total_results / 20 > 1)
				{
					<div class="col-sm-6">
						<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
							<div class="btn-group">
								<ul class="pagination">
									@if (Model.Movies.Page > 1)
									{

										<li style="margin-top: 10%;margin-left: 2%;">
											<button asp-route-page="@(Model.Movies.Page-1)" class="btn btn-outline btn-primary " type="submit">
												<i class="icofont icofont-arrow-left"></i>
											</button>
										</li>
									}
									@for (int i = (Model.Movies.Page == 1 || Model.Movies.Page == 2 || Model.Movies.Page == 3) ? 1 : Model.Movies.Page - 3; i < Model.Movies.Page + 3 && i <= Model.Movies.total_pages && i < 500; i++)
									{
										<li style="margin-top: 10%;margin-left: 2%;">
											<button type="submit" asp-route-page="@(i)" class="btn btn-sm @((i != Model.Movies.Page)?"btn-outline-primary":"disabled btn-primary")">
												@i
											</button>
										</li>

									}
									@if (Model.Movies.total_pages > Model.Movies.Page + 2 && Model.Movies.Page < 500)
									{

										<li style=" margin-top: 10%;margin-left:2%;" class="text-nowrap">
											. . .
										</li>
										<li style="margin-top: 10%;margin-left: 2%;">

											<button asp-route-page="@(Model.Movies.total_pages > 500?500:Model.Movies.total_pages)" class="btn btn-outline btn-primary" type="submit">
												@(Model.Movies.total_pages > 500 ? 500 : Model.Movies.total_pages)
											</button>
										</li>
									}
									@if (Model.Movies.total_pages > Model.Movies.Page && Model.Movies.Page < 500)
									{

										<li style="margin-top: 10%;margin-left: 2%;">
											<button asp-route-page="@(Model.Movies.Page+1)" class="btn btn-outline btn-primary" type="submit">
												<i class="icofont icofont-arrow-right"></i>
											</button>
										</li>
									}

								</ul>
							</div>
						</div>
					</div>
				}

				<input type="hidden" name="query" value="@Model.Search?.SearchTitle" />

				<input type="hidden" name="date" value="@Model.Search?.ReleaseDate" />

			</div>
		</form>
	</div>
</section><!-- movie section end -->