@using IMDB.Domain.CardViewModel
@model MovieDetailsViewModel


    <!-- breadcrumb area start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-area-content">
@*                        <h1>Movie Detalied Page</h1>*@
                    </div>
                </div>
            </div>
        </div>
    </section><!-- breadcrumb area end -->
    <!-- transformers area start -->
    <section class="transformers-area">
        <div class="container">
            <div class="transformers-box">
                <div class="row flexbox-center">
                    <div class="col-lg-5 text-lg-left text-center">
                        <div class="transformers-content">
                            <a href="https://www.youtube.com/watch?v=@Model.Movie.Key" class="popup-youtube">

                                <img src="http://image.tmdb.org/t/p/w500/@Model.Movie.PosterPath" alt="about" />

                                <i class="icofont icofont-ui-play"></i>

                            </a>

                        </div>
                           
                    </div>
                    <div class="col-lg-7">
                        <div class="transformers-content"style="
    font-size: 30px;
">
                         <h1 style="margin:5%"><strong>@Model.Movie.Title</strong></h1>
                            <p>3D | Animation | Action | Sci-Fi</p>
                            <ul>
                                <li>
                                    <div class="transformers-left">
                                        Status:
                                    </div>
                                    <div class="transformers-right">
                                        @Model.Movie.Status
                                    </div>
                                </li>
                                <li>
                                    <div class="transformers-left">
                                        Gener:
                                    </div>
                                    <div class="transformers-right">
                                        @Model.Movie.Genres[0].Name
                                    </div>
                                </li>
                                <li>
                                    <div class="transformers-left">
                                        Release Date: 
                                    </div>
                                    <div class="transformers-right">
                                         @Model.Movie.ReleaseDate.Value.Year
                                    </div>
                                </li>

                                <li>
                                    <div class="transformers-left">
                                        VoteAverage:
                                    </div>
                                    <div class="author-review">
                                        <p>@Model.Movie.VoteAverage 
                                        @for (int i = 0; i < ((Model.Movie.VoteAverage == 10) ? (Model.Movie.VoteAverage / 2) : (Model.Movie.VoteAverage / 2) + 1); i++)
                                        {
                                            <i class="icofont icofont-star"></i>
                                        }</p>
                                        
                                    </div>
                                </li>
                                                                <li>
                                    <div class="transformers-left">
                                        VoteCount: 
                                    </div>
                                    <div class="transformers-right">
                                    <p> @Model.Movie.VoteCount voters</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="transformers-left">
                                        TagLine: 
                                         
                                    </div>
                                <div class="transformers-right">
                                    <p> @Model.Movie.Tagline</p>
                                </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="theme-btn"><i class="icofont icofont-ticket"></i> BUY TICKET</a>
            </div>
        </div>
    </section><!-- transformers area end -->
    <!-- details area start -->
    <section class="details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="details-content">
                        <div class="details-overview">
                            <h2>Overview</h2>
                            <p style="
    font-size: 22px;
">@Model.Movie.Overview</p>
                    </div>
                    <div class="col-lg-12" style="margin-bottom:11px">
                        <div class="col-lg-6 text-center text-lg-left" style="
    margin-bottom: 8px;
">
                            <div class="section-title">
                                <h1><i class="icofont icofont-movie"></i>The similar Movie </h1>
                            </div>
                        </div>
                        <hr />
                        <div class="row portfolio-item">
                            @foreach (var item in Model.SimilarMovie.results.Skip(3).Take(12))
                            {
                                <div class="col-lg-3 col-md-4 col-md-6">
                                    <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                        <div class="single-portfolio">
                                            <div class="single-portfolio-img">

                                                <a asp-controller="MovieDetails" asp-action="Index" asp-route-id="@item.Id">
                                                    <img id="radiusImg" src="http://image.tmdb.org/t/p/w500/@item.PosterPath" alt="portfolio" />

@*                                                    <a href="https://www.youtube.com/watch?v=@item.Key" class="popup-youtube">

                                                        <i class="icofont icofont-ui-play"></i>

                                                    </a>*@
                                                </a>
                                            </div>
                                            <div class="portfolio-content">
                                                <h2 id="senoh">@item.Title</h2>
                                                <div class="review">
                                                    <div class="author-review">
                                                        @for (int i = 0; i < ((item.VoteAverage == 10) ? (item.VoteAverage / 2) : (item.VoteAverage / 2) + 1); i++)
                                                        {
                                                            <i class="icofont icofont-star"></i>
                                                        }

                                                    </div>
                                                    <h5> @item.VoteCount voters</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                    <hr />
                     <div class="details-reply">
                        <h2>Leave a Reply</h2>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="select-container">
                                        <input type="text" placeholder="Name" />
                                        <i class="icofont icofont-ui-user"></i>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="select-container">
                                        <input type="text" placeholder="Email" />
                                        <i class="icofont icofont-envelope"></i>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="select-container">
                                        <input type="text" placeholder="Phone" />
                                        <i class="icofont icofont-phone"></i>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="textarea-container">
                                        <textarea placeholder="Type Here Message"></textarea>
                                        <button><i class="icofont icofont-send-mail"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="details-comment">
                        <a class="theme-btn theme-btn2" href="#">Post Comment</a>
                    </div>
                    @*<div class="details-thumb">
                        <div class="details-thumb-prev">
                            <div class="thumb-icon">
                                <i class="icofont icofont-simple-left"></i>
                            </div>
                            <div class="thumb-text">
                                <h4>Previous Post</h4>
                                <p>Standard Post With Gallery</p>
                            </div>
                        </div>
                        <div class="details-thumb-next">
                            <div class="thumb-text">
                                <h4>Next Post</h4>
                                <p>Standard Post With Preview Image</p>
                            </div>
                            <div class="thumb-icon">
                                <i class="icofont icofont-simple-right"></i>
                            </div>
                        </div>
                    </div>*@
                    </div>
                </div>
                
            </div>
        </div>
    </section><!-- details area end -->
